.alert-danger {
	background-image: none;
}
.alert-success {
	background-image: none;
}
#wins-count,
#loses-count {
	font-size: 30px;
}
.wins-loses {
	background-color: black;
	border-radius: 5px;
	color: white;
	font-family: 'Black Ops One', cursive;
}
.wins-loses h2 {
	color: white;
	font-family: 'Black Ops One', cursive;
}