.well {
	background: #95a5a6;
}

.well p,
.well span {
	color: #000000;
}

span.question-mark {
	color: #9b59b6; 
	font-weight: bolder;
}

span.equal-sign {
	color: #f1c40f; 
	font-weight: bolder;
}

span.ampersand {
	color: #3498db; 
	font-weight: bolder;
}

.second-container {
	color: rgb(192, 192, 192);
    background-color: #222;
    border-radius: 10px;
    padding: 50px;
    margin-top: 20px;
}

span.id-attribute {
	color: #9b59b6;
	font-weight: bolder;
}

span.for-attribute {
	color: #3498db;
	font-weight: bolder;
}

span.value-attribute {
	color: #f1c40f;
	font-weight: bolder;
}

span.multiple-attribute {
	color: #d35400;
	font-weight: bolder;
}

.code-indent {
	margin-left: 25px;
	display: block;
}