html,
body {
	background-image: url(/img/backgrounds/congruent_outline.png);
}

.main-container a.btn {
	color: white;
}

/*main page*/
.dif-col {
	color: black !important;
}

/*login page*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.main-container {
	color: #444;
	background-image: url(/img/backgrounds/subtle_white_feathers.png); 
	border-radius: 10px; 
	padding: 50px; 
	margin-top: 100px;
}

.main-container a {
	color: royalblue;
}

.main-container h2,
.main-container h3,
.main-container h4,
.main-container h5,
.main-container h6 {
	color: #222;
}

a.btn-download,
button.btn-download {
	background-color: slategray;
	color: #fff;
}

.page-header h1 {
	color: #000;
}

#resume h2,
#resume h3 {
	color: #000;
}

#resume h3 span {
	text-decoration: underline;
}

#resume h3 small {
	font-style: italic;
}

.start-end-date {
	font-size: 15px;
	font-weight: bold;
}

#education .start-end-date {
	margin-top: 20px;
}

.resume-profile {
	vertical-align: baseline;
}

/*blackjack*/
.outline { 
	width: 110px; 
	height: 154px;
	text-align: center; 
	padding: 10px; 
	margin: 10px; 
	background: #FFF;
	float: left;
}

.cardback {
	padding: 2px;
}

.top { 
	height: 30px;
	text-align: left; 
}

.bottom { 
	text-align: right; 
}

.shadow { 
	box-shadow: 4px 2px 3px #666; 
	-moz-box-shadow: 4px 2px 3px #666; 
	-webkit-box-shadow: 4px 2px 3px #666; 
}

.rounded { 
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
}

.overlay {
	margin-left: -80px;
}

.deckoverlay {
	margin-left: -118px;
}

/*yahtzee*/
.die {
	font-size: 100px;
}

/*whack-a-mole*/
.hole {
	width: 150px;
	height: 150px;
	border: solid 1px #000;
	float: left;
}

.board {
	margin: 100px auto;
	width: 450px;
	height: 450px;
}

.hole>img {
	width: 148px;
	height: 148px;
	display: none;
}

.whack-body {
	cursor: url("img/caveman3.png"), auto;
	background-image: url("img/secret-squirrel-background.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 100%;
}

.whack-container{
	margin: 100px auto;
}

.bootbox-container {
	color: white;
}
.bootbox-container hr {
	border-color: white;
}
.bootbox-inner-container {
	background-color: #222; 
}
.modal-content {
	background-image: url(/img/congruent_outline.png);
}