@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Ubuntu:400,700);

* {
	font-family: 'Slabo 27px', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Ubuntu', sans-serif;
}

small {
	margin-top: 4px;
	font-family: 'Architects Daughter', cursive;
}

html,
body {
	background-image: url(/img/backgrounds/footer_lodyas.png);
}

/*main page*/
.dif-col {
	color: black !important;
}

/*login page*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin-heading {
	text-align: center;
}
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.main-container {
	color: #444;
	background-image: url(/img/backgrounds/greyzz.png);
	border-radius: 10px;
	padding: 50px;
	margin-top: 100px;
}

.main-container a.btn {
	color: white;
}

.main-container .contact-icons a,
.main-container .post-title a {
	color: #195062;
}
.main-container a {
	color: #AE5C0A;
}
.main-container a:hover {
	color: steelblue;
}

.contact-icons {
	display: inline-block;
	font-size: 50px;
	color: #195062;
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    /*transition: all 200ms ease-in;*/
    transform: scale(1);
}
.contact-icons:hover {
	font-size: 50px;
	color: steelblue;
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.main-container h2,
.main-container h3,
.main-container h4,
.main-container h5,
.main-container h6 {
	color: #222;
}

a.btn-custom,
button.btn-custom,
input.btn-custom {
	background-color: #195062;
	color: #fff;
}
a.btn-custom:hover,
button.btn-custom:hover,
input.btn-custom:hover {
	background-color: steelblue;
	color: #fff;
}
a.btn-navbar,
input.btn-navbar,
button.btn-navbar,
a.btn-search,
input.btn-search,
button.btn-search {
	background-color: #fff;
	color: #195062;
	border-color: #000;
	height: 34px;
}
a.btn-navbar:hover,
input.btn-navbar:hover,
button.btn-navbar:hover,
a.btn-search:hover,
input.btn-search:hover,
button.btn-search:hover {
	background-color: #a2a2a2;
	color: #fff;
	border-color: #000;
	height: 34px;
}

a.btn-default,
input.btn-default,
button.btn-default {
	background-color: #555555;
}

.page-header h1 {
	color: #000;
}

#resume h2,
#resume h3 {
	color: #000;
}

#resume h3 span {
	text-decoration: underline;
}

#resume h3 small {
	font-style: italic;
}

.start-end-date {
	font-size: 15px;
	font-weight: bold;
}

#education .start-end-date {
	margin-top: 20px;
}

.resume-profile {
	vertical-align: baseline;
	max-width: 285px;
	max-height: 285px;
	padding: 3px;
	background-color: #555;
	border: solid #000 2px;
}

/*blackjack*/
.outline {
	width: 110px;
	height: 154px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	background: #FFF;
	float: left;
}

.cardback {
	padding: 2px;
}

.top {
	height: 30px;
	text-align: left;
}

.bottom {
	text-align: right;
}

.shadow {
	box-shadow: 4px 2px 3px #666;
	-moz-box-shadow: 4px 2px 3px #666;
	-webkit-box-shadow: 4px 2px 3px #666;
}

.rounded {
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.overlay {
	margin-left: -80px;
}

.deckoverlay {
	margin-left: -118px;
}

/*yahtzee*/
.die {
	font-size: 100px;
}

.bootbox-container {
	color: white;
}
.bootbox-container hr {
	border-color: white;
}
.bootbox-inner-container {
	background-color: #222;
}
.modal-content {
	background-image: url(/img/congruent_outline.png);
}

.nav .caret {
	border-top-color: #A2A2A2;
	border-bottom-color: #A2A2A2;
}

.navbar {
	border-bottom-color: #195062;
}
.navbar-inverse {
	background-color: #195062;
}
.navbar-inverse .navbar-nav > li > a {
	color: #A2A2A2;
}
.dropdown-menu {
	background-color: #195062;
}

.small-project-img {
	padding: 3px;
	background-color: #555;
	border: solid #000 2px;
	display: inline-block;
}
.lrg-project-img {
	display: inline-block;
	padding: 5px;
	background-color: #555;
	border: solid #000 2px;
}
#disqus_thread {
	background-color: #619CAE;
	padding: 15px;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.post-title {
	margin-bottom: 30px;
}
.post {
	border-bottom: 1px solid black;
	padding-bottom: 30px;
}
.push-down {
	margin-top: 15px;
}
ul.pagination li a,
ul.pagination li.disabled span {
	background-color: steelblue;
	color: #fff;
}
ul.pagination li.active span {
	background-color: #195162;
}

a.pdf-btn:hover {
	background-color: red;
}

pre code {
	white-space: inherit;
	overflow: scroll;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}