/*whack-a-mole*/
.hole {
	width: 150px;
	height: 150px;
	border: solid 1px #000;
	float: left;
}

.board {
	margin: 0 auto;
	width: 450px;
	height: 450px;
}

.hole>img {
	width: 148px;
	height: 148px;
	display: none;
}

html,
body {
	cursor: url("/img/caveman3.png"), auto;
	background-image: url("/img/secret-squirrel-background.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 100%;
}

.main-container {
	background-image: none;
	padding-top: 0;
}